/* importando fontes */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* reset de css (zerando os espaçamentos para ficar mais preciso) */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* colocando plano de fundo no body */

body {
  background-image: url(src/media/photos/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ajustando tamanho da logo */

.logo img {
  height: 100px;
}

/* colocando fonte nos paragrafos */

h1,
h3,
span {
  font-family: "Playfair Display", serif;
}

/* ajustando text da frente do carrossel */

.texto-div {
  color: white;
  font-size: 4vw;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* texto do sobre nós */

.sobre-nos {
  color: white;
  margin: 5rem;
}

.sobre-nos h1 {
  color: #d5b352;
  font-weight: 800;
}

/* alterando cor da classe border-bottom do bootstrap */

.border-bottom {
  border: #d5b352;
}
